.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.item {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .list {
    grid-template-columns: 1fr;
  }
}
