{% extends "admin/change_list.html" %}
{% load humanize %}

{% block object-tools %}
    {% if current_shift %}
        
        <button id="closeShiftBtn" class="font-semibold text-important tracking-tight truncate cursor-pointer hover:bg-base-100 dark:hover:bg-base-800">
            🧾 Закрыть смену
        </button>
        <div style="font-weight:600; margin-bottom:10px;">🟢 Смена открыта
        </div>
        {{ block.super }}
    {% else %}
        <div style="font-weight:600; margin-bottom:10px;">
        🔴 Смена закрыта
        </div>
        
    {% endif %}
        
{% endblock %}
{% block content  %}
    <div style="display:flex; gap:20px">
    <!-- Таблица -->
    <div style="flex:1">
        {{ block.super }}
    </div>

    <!-- Правая панель -->
    <div style="display:flex; gap:20px;  flex-direction: column;     width: 25%;">

        <div class="space-y-4">

    <div class="bg-white dark:bg-gray-900 rounded-2xl shadow p-5">

        <h3 class="text-lg font-semibold mb-4">
            📊 Баланс кассы
        </h3>

        {% for b in current_balances %}
            <div class="flex justify-between py-2 border-b last:border-0">
                <span class="font-medium text-gray-600">
                    {{ b.currency.code }}
                </span>
                <span class="font-bold text-green-600">
                    {{ b.balance}}
                </span>
            </div>
        {% empty %}
            <div class="text-gray-400 text-sm">
                Нет данных по балансу
            </div>
        {% endfor %}

    </div>

    </div>
        


</div>

    <script>
document.addEventListener("DOMContentLoaded", function() {

    const btn = document.getElementById("closeShiftBtn");

    if (btn) {
        btn.addEventListener("click", function() {

            if (!confirm("Закрыть текущую смену?")) {
                return;
            }

            fetch("{% url 'admin:wholesale_close_shift' %}", {
                method: "POST",
                headers: {
                    "X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    location.reload();
                }
                else {
                    alert(data.error);
                }
            });

        });
    }
    const openBtn = document.getElementById("openShiftBtn");

    if (openBtn) {
        openBtn.addEventListener("click", function() {

            fetch("{% url 'admin:wholesale_open_shift' %}", {
                method: "POST",
                headers: {
                    "X-CSRFToken": document.querySelector('[name=csrfmiddlewaretoken]').value
                }
            })
            .then(r => r.json())
            .then(data => {

                if (data.success) {
                    location.reload();
                } else {
                    alert(data.error);
                }

            });

        });
    }

});
</script>

{% endblock %}

