.rates {
  min-height: 525px;
  display: flex;
  flex-direction: column;
  gap: 2.625rem;
  padding: 1.5rem 1.5rem 2.5rem 1.5rem;
  border: 1px solid var(--border-brand-ghost);
  border-radius: 1rem;

  /* Glassmorphism */
  background: rgba(0, 0, 0, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.8px);
  -webkit-backdrop-filter: blur(10.8px);
  transition: background-color 0.15s ease-in-out;
}

.title {
  font-size: 1.875rem;
  line-height: 2.15rem;
  font-weight: 500;
  color: var(--brand-color);
  text-transform: uppercase;
}
