.options {
  position: absolute !important;
  width: 100%;
  max-height: 50vh;
  top: 100%;
  left: 10px;
  border: 2px solid var(--brand-color);
  border-radius: var(--border-r-md);
  background-color: var(--black-color);

  /* Glassmorphism */
  background: rgba(0, 0, 0, 0.8);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.8px);
  -webkit-backdrop-filter: blur(10.8px);
  border: 1px solid var(--blure-brand-color);

  box-shadow: 1px 1px 7px var(--blure-brand-color);
  z-index: 10;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.list :global(.simplebar-scrollbar.simplebar-visible:before) {
  background-color: var(--blure-brand-color);
}

.option {
  cursor: pointer;
  transition: color 0.15s ease-in;
}

.option:hover {
  color: var(--brand-color);
}

@media screen and (max-width: 576px) {
  .options {
    display: none;
  }
}
