.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 49;
}

.sidebar {
  width: 393px;
  min-height: 100dvh;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0 1.5rem 1.5rem 1.5rem;
  overflow: auto;
  background-color: var(--black-color);
  z-index: 50;
  box-shadow: 0px 0 5px rgba(255, 255, 255, 0.1);
}

.backButton {
  display: flex;
  margin-left: -1.5rem;
  padding: 1.5rem;
  border-radius: 50%;
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.15s ease-in-out;
}

.backButton:hover,
.backButton:focus {
  opacity: 0.8;
}

.title {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1.5rem;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 300;
  border: 1px solid var(--brand-color);
  border-radius: 1.5rem;
}

.infoTitle {
  font-weight: 700;
  color: var(--brand-color);
}

.locationWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.locationInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 15px;
  font-weight: 300;
  color: var(--text-light-color);
}

.location {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
}

.locationText {
  font-size: 13px;
  line-height: 16px;
  color: var(--text-light-color);
}

.iconWrapper {
  position: relative;
  width: 48px;
  height: 48px;
  padding: 1rem 1.2rem;
  background-color: var(--brand-color);
  border-radius: 15px;
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.currency {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: 300;
}

.currencyValue {
  font-weight: 700;
  font-size: 2rem;
}

.conclusion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.conclusionText {
  font-size: 15px;
  font-weight: 300;
  color: var(--text-light-color);
}

.conclusionValue {
  font-weight: 700;
  font-size: 2rem;
}

.errorText {
  color: var(--error-color);
}

@media screen and (max-width: 576px) {
  .sidebar {
    width: 100dvw;
    max-height: 100dvh;
    overflow: auto;
    inset: 0;
  }
}
